
.nav{
    font-family:"https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500;700&display=swap";
}.bla{
    border-radius: 50px;

    padding-right: 10px;
    align-self: center;
    margin-left: 5px;
    
    box-shadow: 2px 5px rgb(0, 0, 0, 0.13);
}

.bla2{
    border-radius: 50px;

    padding-right: 10px;
    align-self: center;
    margin-left: 5px;
    
    box-shadow: 2px 5px rgb(0, 0, 0, 0.13);
}
.b0{
    
    box-shadow: 2px 7px rgb(0, 0, 0, 0.13);
}

.bla3{
    border-radius: 50px;

    padding-right: 10px;
    align-self: center;
    margin-left: 5px;
    
    box-shadow: 2px 5px rgb(0, 0, 0, 0.13);
}

.car1{
   margin-left: 0px;
   margin-right: 360px;
   margin-top: 0px;
}
.b7{
    border-radius: 20px;
    background-color: aliceblue;
    margin-left: 5px;
    box-shadow: 2px 7px rgb(0, 0, 0, 0.13);
   

    
}

.car2{
    margin-left: 0px;
    margin-right: 160px;
    margin-top: 0px;

}

.car3{
    margin-left: 0px;
    margin-right: 160px;
    margin-top: 0px;
}
.b2{
    margin-left: 320px;
}

.b1{
    margin-right: 380px;
}
.bl2{
    background: rgb(241, 31, 31);
    

  
    
   
  
}
 .po3{
   
    margin: 20px;
    padding: 70px;
    box-sizing: border-box;
    background: rgb(241, 31, 31);
    height: 200px;
    border-radius: 20px;
    
   
    

}

.b8{
    position: relative;
  width: 200px;
  height: 100px;
  right: 100px;
  color: aliceblue;
  background-color: rgb(241, 31, 31);
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  float: right;
  margin-left: 160px;
  box-shadow: 0 10px rgba(0, 0, 0, 0.13);
 
  
  
  
}

.b11{
    display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  color: initial;
  
  
 
}
.b11:hover{
    color: #000;
}
.b11:active{
    color: #000;
}
.b152:hover{
  color: #000;    
}
.b152:active{
    color: #000;
}

.b15{
    position: relative;
  width: 200px;
  height: 100px;
  right: 100px;
  color: aliceblue;
  background-color: rgb(241, 31, 31);
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  float: right;
  margin-left: 400px;
  margin-right: 50px;
  box-shadow: 2px 7px rgb(0, 0, 0, 0.13);
 
 

}

.b16{
    position: relative;
  width: 200px;
  height: 100px;
  right: 100px;
  color: aliceblue;
  background-color: rgb(241, 31, 31);
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  float: right;
  margin-left: 160px;
  box-shadow: 2px 7px rgb(0, 0, 0, 0.13);
  
 
 
}

.b17{
    position: relative;
    width: 200px;
    height: 100px;
    right: 100px;
    color: aliceblue;
    background-color: rgb(241, 31, 31);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    float: right;
    margin-left: 160px;
    box-shadow: 2px 7px rgb(0, 0, 0, 0.13);
 
   
}


.po5{
    width: 385px;
    height: 115px;
    background: rgb(241, 31, 31);
    margin-left: 780px;
    border-radius: 15px;
    
    

   
   
}
.b65{
   position: absolute;
   margin-top: 30px;
   margin-left: 15px;
   color: aliceblue;
   
   
   }
   .c8{
    border-radius: 20px;
    background-color: rgb(241, 31, 31);
    text-align: center;
 
    
   }
   .n5{
    background-color: rgb(241, 31, 31);
   }
   
   .texto_balao1{
   
   }

   .containermap{
    background: red;
    margin-top: 50px;
    color: white;
    margin-bottom: 4%;
   }