
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.navinicio{

  display:inline-block;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.navinicio:hover{
   
    background-color: rgb(233, 14, 14);
    border-radius: 14px;
    position: relative;
    display: inline-block;
    transform:scale(1.25,1.25);

}

.navmarcas{

    display:inline-block;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  
  }

.navmarcas:hover{
    
    background-color: rgb(233, 14, 14);
    border-radius: 14px;
    position: relative;
    display: inline-block;
    transform:scale(1.25,1.25);
    
}

.navcontatos{

    display:inline-block;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  
  }

.navcontatos:hover{
    
    background-color: rgb(233, 14, 14);
    border-radius: 14px;
    position: relative;
    display: inline-block;
    transform:scale(1.25,1.25);
    
}

.b0 {

    box-shadow: 2px 7px rgb(0, 0, 0, 0.13);
}

.bla3 {
    

    padding-right: 10px;
    align-self: center;
    margin-left: 5px;

    
}

.car1 {
    margin-left: 0px;
    margin-right: 360px;
    margin-top: 0px;
}

.b7 {
    
    
    margin-left: 5px;
    


}

.car2 {
    margin-left: 0px;
    margin-right: 160px;
    margin-top: 0px;

}

.car3 {
    margin-left: 0px;
    margin-right: 160px;
    margin-top: 0px;
}

.b2 {
    margin-left: 320px;
}

.b1 {
    margin-right: 380px;
}

.bl2 {
    background: rgb(241, 31, 31);






}

.po3 {

    margin: 20px;
    padding: 70px;
    box-sizing: border-box;
    background: rgb(241, 31, 31);
    height: 200px;
    border-radius: 20px;




}

.b8 {
    position: relative;
    width: 200px;
    height: 100px;
    right: 100px;
    color: aliceblue;
    background-color: rgb(241, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    float: right;
    margin-left: 160px;
    box-shadow: 0 10px rgba(0, 0, 0, 0.13);




}

.b11 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    color: initial;



}

.b11:hover {
    color: #000;
}

.b11:active {
    color: #000;
}

.b152:hover {
    color: #000;
}

.b152:active {
    color: #000;
}

.b15 {
    position: relative;
    width: 200px;
    height: 100px;
    right: 100px;
    color: aliceblue;
    background-color: rgb(241, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    float: right;
    margin-left: 400px;
    margin-right: 50px;
    box-shadow: 2px 7px rgb(0, 0, 0, 0.13);



}

.b16 {
    position: relative;
    width: 200px;
    height: 100px;
    right: 100px;
    color: aliceblue;
    background-color: rgb(241, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    float: right;
    margin-left: 160px;
    box-shadow: 2px 7px rgb(0, 0, 0, 0.13);



}

.b17 {
    position: relative;
    width: 200px;
    height: 100px;
    right: 100px;
    color: aliceblue;
    background-color: rgb(241, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    float: right;
    margin-left: 160px;
    box-shadow: 2px 7px rgb(0, 0, 0, 0.13);


}


.po5 {
    width: 385px;
    height: 115px;
    background: rgb(241, 31, 31);
    margin-left: 780px;
    border-radius: 15px;





}

.b65 {
    position: absolute;
    margin-top: 30px;
    margin-left: 15px;
    color: aliceblue;


}

.c8 {
    border-radius: 20px;
    background-color: rgb(241, 31, 31);
    text-align: center;


}

.n5 {
    background-color: rgb(241, 31, 31);
}


.containermap {
    background: red;
    margin-top: 50px;
    color: white;
    margin-bottom: 4%;
}

.navbar-expand-lg{
    
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
    
    
 }

 .collapse navbar-collapse2{
    
    display: flex;
    justify-content: center;
    align-items: center ;
    padding-left: 50px;
    
 }
 
 .nomeaudi{
    
    padding-left: 58px;
    color: white;
    padding-top: 4px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    
 }

 .imgaudi{
    padding-top: 12px;
 }

 .nometoyota{
    padding-left: 13px;
    color: white;
    padding-bottom: 2px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
 }

 .imgtoyota{
    padding-top: 11px;
    max-width: 95%;
 }

 .nomevolvo{
    color: white;
    padding-left: 5px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
 }

 .imgvolvo{
    width: 90%;
    padding-top: 26px;

 }

 .imghonda{
    padding-top: 12px;
    width: 97%;
 }

 .nomehonda{
    color: white;
    padding-left: 11px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
 }